.div000{
  display: flex;
  margin-top: 6vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.div0000{
  height: 100%;
  text-align:center;
  margin-bottom: 3%;
  font-size: 2vh;
  font-family:monospace;
  font-style:italic;
  color: black;
}
.button1{
  height: 5vh;
  width: 20%;
  font-size: 2vh;
  font-family:monospace;
  background-color: silver;
  border-radius:5% 5%;
}
.div0001{
  margin-bottom: 3%;
  text-align:center;
  height: 100%;
  font-size: 2vh;
  font-family:monospace;
  font-style:italic;
  color: black;
}
